.one{
     color: red;
}
 .two{
     border: 1px solid;
      height: 50px;
       width: 50px;
        border-radius: 50px;
 }
  .box{
      border: 1px solid brown;

       height: 100px;
        width: 200px;
        position: relative;
      top: 50px;
          left: 500px;
         
     
        
  }
   .boxmain{
      position: relative;
   }
